<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musical_structure_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.android.musical_structure_app.SongDetailActivity"></activity>
        <activity android:name="com.example.android.musical_structure_app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.musical_structure_app.ClassicalActivity"
            android:label="@string/category_classical"
            android:parentActivityName="com.example.android.musical_structure_app.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.musical_structure_app.MainActivity"/>
        </activity>
        <activity
            android:name="com.example.android.musical_structure_app.InstrumentalActivity"
            android:label="@string/category_instrumental"
            android:parentActivityName="com.example.android.musical_structure_app.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.musical_structure_app.MainActivity"/>
        </activity>

        <activity
            android:name="com.example.android.musical_structure_app.RockActivity"
            android:label="@string/category_rock"
            android:parentActivityName="com.example.android.musical_structure_app.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.musical_structure_app.MainActivity"/>
        </activity>

        <activity
            android:name="com.example.android.musical_structure_app.PopActivity"
            android:label="@string/category_pop"
            android:parentActivityName="com.example.android.musical_structure_app.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.musical_structure_app.MainActivity"/>
        </activity>
    </application>

</manifest>